// footer

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
}

.footer__container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
}

.footer__link {
    font-family: "Raleway", "sans-serif";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.6;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 20px;
}

.footer__logo {
    font-family: "Raleway", "sans-serif";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.6;
    color: $blue-color;
}

.info-list {
    display: inline-block;
    list-style: none;
    padding: 0;
}

.contacts:hover,
.contacts:focus {
    color: #2196F3;
}

.info-list__item:not(:last-child) {
    margin-bottom: 8px;
}

.info-list__adress {
    font-family: "Roboto", "sans-serif";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.2;
    color: #ffffff;
}

.info-list__contacts {
    font-family: "Roboto", "sans-serif";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.6);
}

.info-list__numbers {
    font-family: "Roboto", "sans-serif";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.6);
}

.footer-socials__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #ffffff;
    display: inline-block;
    height: 16px;
    margin-bottom: 20px;
}

.footer-socials__list {
    display: flex;
    list-style: none;
}

.footer-socials {
    margin-left: 70px;
    padding-top: 16px;
}


.icons__link--footer {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;

    &:focus,
    &:hover {
        background-color: #2196f3;
    }

}

.icons__svg--footer {
    fill: #ffffff;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}


.footer-formblock {
    padding-top: 16px;
    margin-left: auto;
}

.footer-formblock__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-form__box {
    display: flex;
    align-items: center;
}

.footer-form__input {
    height: 50px;
    width: 358px;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2F303A;
    outline: none;
    color: #FFFFFF;
}

.footer-form__button {
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    background: #2196F3;
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 28px;
    padding-right: 28px;
    margin-left: 12px;

    color: #FFFFFF;
}

.footer-form__icon {
    margin-left: 10px;
}